# macOS
.DS_Store

# Xcode
## Build generated
build/
.build/
DerivedData/
*.xcodeproj
*.pbxproj

## SwiftPM
.swiftpm/

## Xcodebuild JSONs
xcodebuild*.json

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# We leave Pods out since it bloats repo size significantly.
Pods/
bin/swiftformat
bin/swiftlint
